{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>Aslan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/aslanlogo.png' %}" alt="<h4>Офицалний Сайт компании Аслан корпорейшин</h4>">
        <h4>Офицалний Сайт компании "Аслан корпорейшин"</h4>
        <ul>
        <a href="/"><li> <i class="fa-regular fa-user"></i> о создателе</li></a>
        <a href="/about"><li> <i class="fa-solid fa-list"></i> о сайте</li></a>
        <a href="/eshe"><li> <i class="fa-solid fa-comment-dots"></i> ещё</li></a>
        </ul>
    </aside>
    <main>
        <h1>Этот сайт сделал Аслан,ему 15 лет ,Он хочет стать программистом</h1>
    </main>
</body>
</html>